<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.putupiron.goods">
	<!-- 상품타입설정 -->
	<sql id="PTcontain">
		<choose>
			<when test='option=="noPT"'>
				where PT=0
			</when>
			<when test='option=="yesPT"'>
				where PT=1
			</when>
		</choose>
	</sql>
	<!-- 모든 상품 조회 -->
	<select id="allGoods" parameterType="String" resultType="Goods">
		select * from goods <include refid="PTcontain"/>
	</select>
	<!-- 상품 구입 -->
	<update id="purchase" parameterType="map">
		update user set prod_name=#{goods_name}, buy_date=now()<if test='option=="yesPT"'>, trainer="-"</if> where user_email=#{email}
	</update>
</mapper>