.container{
	width:900px;
	margin: 100px auto 0 auto;
}
.container>h1{
	width:100%;
	text-align:center;
	font-size:40px;
	margin:20px auto;
	cursor:default;
}
.container>table{
	width:100%;
	border-collapse:collapse;
}
.container tr:nth-of-type(odd){
	background-color:#eee;
}
.container th, .container td{
	width:150px;
	cursor:default;
}
.container th{
	line-height : 40px;
	color:white;
	background-color:#121212;
}
.container td{
	border-left:0; border-right:0;
	text-align:center;
	padding:15px 0;
}
.currentUser{
	background-color: rgb(70,140,160) !important;
	color:white;
}