.container{
	width:900px;
	margin: 100px auto 0 auto;
	
}
.container>nav>a{
	    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 26px;
    font-size: 20px;
    color: #121212;
    border: 2px solid #121212;
    border-radius: 10px;
    margin: 0 1%;
    text-align: center;
}
.container>h1{
	width:100%;
	text-align:center;
	font-size:40px;
	margin:20px auto;
	
}
.container>table{
	width:100%;
	border-collapse:collapse;
	margin-bottom: 20px;
}
.container tr:nth-of-type(odd){
	background-color:#eee;
}
.container th{
	line-height : 40px;
	color:white;
	background-color:#121212;
}
.container th{
	line-height : 40px;
	color:white;
	background-color:#121212;
}
.container td{
	border-left:0; border-right:0;
	text-align:center;
	padding:15px 0;
}
.currentUser{
	background-color: rgb(70,140,160) !important;
	color:white;
}
.container a:hover {
  text-decoration: underline;
}
.pagination {
	text-align:center;
	 list-style:none;
}
.pagination>li>a{
	
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
input{
	border:0 solid black;
	background-color:#eee;
	text-align: center;
	cursor:pointer;
}
button{
	border:0 solid black;
	background-color:#eee;
	text-align: center;
	cursor:pointer;
}
