.container{
	width:900px;
	margin: 100px auto 0 auto;
}
#form {
	margin-top: 100px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
#form>#rec_content {
	margin-top: 10px;
	border: 0.2px solid rgb(199, 194, 194);
	width: 680px;
	height: 500px;
}
#form>#rec_content:focus {
	outline: none;
}
#form>#rec_title {
	border: 0.2px solid rgb(199, 194, 194);
	width: 680px;
	height: 40px;
}
#form>#rec_title:focus {
	outline: none;
}
.button {
	margin-top: 10px;
	display: flex;
	justify-content: end;
	width: 680px;
}
.a {
	border-bottom: 3px solid black;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 680px;
}
.btn {
	border-radius: 10px;
	background-color: #121212;
	color: white;
	font-size: 11px;
	padding: 5px;
}
textarea {
	padding: 20px;
	resize: none;
}
input {
	padding: 0 0 0 10px;
}
