.container{
	width:1200px;
	margin: 100px auto 0 auto;
}
.container h1{font-size:40px;}
#calendar{
	width:700px;
	border-collapse:collapse;
	float:left;
}
#calendar th{
	width:100px; height:60px;
	border:0;
	cursor:default;
	color:white;
	background-color:#121212;
}
#calendar td{
	width:90px; height: 60px;
	border:0;
	cursor:default;
}
#calendar td:first-child{color:rgb(255,70,70);}
#calendar td:last-child{color:rgb(70,150,255);}
#target{background-color:#aaa;}

#timeTable{
	width:480px; height:478px;
	float:left;
	margin-left:20px;
}