<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.putupiron.pufe.dto.User"/>
		<typeAlias alias="JoinData" type="com.putupiron.pufe.dto.JoinData"/>
		<typeAlias alias="BigThree" type="com.putupiron.pufe.dto.BigThree"/>
		<typeAlias alias="Machine" type="com.putupiron.pufe.dto.Machine"/>
		<typeAlias alias="Recommend" type="com.putupiron.pufe.dto.Recommend"/>
		<typeAlias alias="UserView" type="com.putupiron.pufe.dto.UserView"/>
		<typeAlias alias="TrainerView" type="com.putupiron.pufe.dto.TrainerView"/>
		<typeAlias alias="Statistics" type="com.putupiron.pufe.dto.Statistics"/>
		<typeAlias alias="TrainerInfo" type="com.putupiron.pufe.dto.TrainerInfo"/>
		
		<typeAlias alias="SearchCondition" type="com.putupiron.pufe.vo.SearchCondition"/>
	</typeAliases>
</configuration>